{
  "zones": [
    {
      "name": "white",
      "color": "#fff"
    },
    {
      "name": "yellow",
      "color": "#ff0"
    }
  ],
  "stacks": [
    {
      "zone": "white",
      "shelf": 1,
      "column": "a",
      "max_height": 3
    },
    {
      "zone": "white",
      "shelf": 1,
      "column": "a",
      "max_height": 3
    }
  ],
  "shelves": [
    {
      "zone": "white",
      "level": 1
    },
    {
      "zone": "white",
      "level": 2
    },
    {
      "zone": "white",
      "level": 3
    },
    {
      "zone": "white",
      "level": 4
    },
    {
      "zone": "white",
      "level": 5
    }
  ],
  "columns": [
    {
      "zone": "white",
      "label": "a"
    },
    {
      "zone": "white",
      "label": "b"

    }
  ],
  "markings": [],
  "decorations": []
}